html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.error404 {
  min-height: 100vh;
  min-width: 100%;
  background-image: url("../assets/img/404.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sky {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sky h2 {
  font-size: 16em;
  color: #fff;
  text-shadow: 15px 15px 0 rgba(0, 0, 0, 0.1);
}
.sky h2 span {
  animation: animate404 2s ease-in-out infinite;
  display: inline-block;
}
.sky h2 span:nth-child(2) {
  animation-delay: -1s;
}
.field {
  padding: 100px;
  height: 40vh;
  text-align: center;
}
.field h2 {
  color: #fff;
  font-size: 2em;
  margin-bottom: 20px;
}
.field a {
  background: #fff;
  color: #000;
  width: 160px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
}
.field a:hover,
.mobile .field a:focus {
  background: #69880e;
}

/* ArrowUp Button */
.arrowUpward {
  position: fixed;
  bottom: 3%;
  right: 1%;
  color: #fff;
  z-index: 1600;
  transition: all 1s;
}

/* Form pages */
.particles-singup,
.bg_space {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}
.boxL,
.box {
  width: 340px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.boxL h1 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 500;
}
.boxL input[type="email"],
.boxL input[type="password"],
.box input[type="email"],
.box input[type="password"],
.box input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 260px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.boxL input[type="email"],
.boxL input[type="password"] {
  color: #4b4b4b;
}
.boxL input[type="email"]:focus,
.boxL input[type="password"]:focus,
.box input[type="email"]:focus,
.box input[type="password"]:focus,
.box input[type="text"]:focus {
  width: 250px;
  border-color: #2ecc71;
}
.boxL input[type="submit"],
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.boxL input[type="submit"] {
  color: #000000;
}
.boxL input[type="submit"]:hover,
.box input[type="submit"]:hover {
  background: #2ecc71;
}
.auth-loading {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.loading-text {
  color: tomato;
  padding: 10px;
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: 1px;
}
.loginFormBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/loginBg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1000;
}

.chart_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9fafb;
  border-bottom: 1px solid #eaf0f4;
  padding: 15px 10px;
  box-sizing: border-box;
}
.chart_header {
  color: #58606d;
  text-transform: uppercase;
  font-weight: 600;
}
.chart_date {
  display: flex;
  width: 50%;
  height: 100%;
}
.grid_container {
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.for {
  display: flex;
  height: 100%;
  align-items: center;
}
.dush_exit {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  background-color: #4fc1ee;
  padding: 5px;
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 60px;
  height: 25px;
  line-height: 16px;
  border-radius: 45px;
  margin: 0 20px;
  text-align: center;
  letter-spacing: 2px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
}
.dush_exit:hover,
.mobile .dush_exit:focus {
  background: #ff0000;
  box-shadow: 0 15px 20px #ff0000c0;
  transform: translateY(-5px);
}
.dush_search_btn {
  background-color: #ffffff;
  width: 20px;
  padding: 0;
}
.dush_search_btn img {
  height: 100%;
}
.dush_search {
  margin-left: 10px;
  border: none;
  padding: 3px;
  color: #908e93;
}
.dush_search :focus {
  border-color: #4fc1ee;
}
.avatar_img {
  width: 30px;
  height: 30px;
  border: 3px solid #ebf3fa;
  border-radius: 30px;
}
button {
  border: none;
}
.dush_header {
  font-family: Norican;
  font-size: 30px;
  font-weight: 400;
}
.h_dush {
  color: #4fc1ee;
  letter-spacing: 0.9px;
}
.h_board {
  color: #ffffff;
  letter-spacing: 0.9px;
}
.d_item {
  display: flex;
}
.info_box {
  position: relative;
  width: 40px;
  height: 100%;
}
.info_img {
  position: absolute;
  padding: 10px;
  background-color: #f9fafb;
  border: 1px solid #f0f3f7;
}
.info_img_end {
  height: 45px;
  position: absolute;
  padding: 10px;
  background-color: #f9fafb;
  border: 1px solid #f0f3f7;
}
.info_img img,
.info_img_end img {
  height: 100%;
}
.info_text {
  padding: 15px 10px;
}
.info_text div {
  line-height: 15px;
  font-size: 15px;
  font-weight: 600;
  color: #627583;
}
.info_text span {
  font-size: 10px;
  line-height: 10px;
  color: #d1d7e1;
}
.seeMore {
  text-align: center;
  text-decoration: none;
}
.chart_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9fafb;
  border-bottom: 1px solid #eaf0f4;
  padding: 15px 10px;
  box-sizing: border-box;
}
.chart_header {
  color: #58606d;
  text-transform: uppercase;
  font-weight: 600;
}
.chart_date {
  display: flex;
  width: 50%;
  height: 100%;
}
.head_to {
  color: #bdc7d6;
  display: flex;
  align-items: center;
  text-align: center;
}
.total {
  font-size: 11px;
}
.tooltip_item {
  font-size: 9px;
}
.rechart_header {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.header_sumA {
  color: #0b85b9;
  font-size: 16px;
}
.header_sumB {
  color: rgb(255, 70, 131);
  font-size: 16px;
}
.sum_descriptionA,
.sum_descriptionB {
  width: 100%;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}
.sum_descriptionA {
  color: #0b85b9;
}
.sum_descriptionB {
  color: rgb(255, 70, 131);
}
.icon_link {
  z-index: 100;
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon_link img {
  width: 100%;
  vertical-align: top;
}
.icon_link__twitter {
  left: auto;
  right: 5px;
}
/* Nav-Search Input */
#resHeader {
  display: none;
}
#appBars ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#appBars input[type="number"]::-webkit-inner-spin-button,
#appBars input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
#appBars input[type="number"] {
  -moz-appearance: textfield;
}
#appBars img {
  width: 100%;
}
#appBars a {
  text-decoration: none;
}

/* Search-Nav */
.search .error {
  -webkit-animation: 2s linear error;
  -o-animation: 2s linear error;
  animation: 2s linear error;
}

.search {
  display: flex;
  position: relative;
  max-width: 365px;
  flex-grow: 1;
  border: 2px solid #ff4747;
  height: 27px;
  width: 30%;
}
.search_wrapper {
  justify-content: flex-start;
  border-right-width: 0;
  border-radius: 3px 0 0 3px;
  align-items: stretch;
  width: 100%;
}
.search_wrapper_input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 0 8px;
  border: 1px solid transparent;
  font-size: 14px;
  font-family: GTEestiProText, Arial, sans-serif;
  color: #001a34;
  line-height: 18px;
  outline: none;
  vertical-align: middle;
  border-radius: 2px 0 0 2px;
  text-overflow: ellipsis;
  box-shadow: none;
}
.search_wrap_brn {
  height: 36px;
  display: flex;
  align-items: center;
  min-width: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  background-color: #ff4747;
}
.search_btn {
  cursor: pointer;
  border-color: transparent;
  height: 100%;
  width: 100%;
  background-color: #ff4747;
  border: none;
}
.search_btn::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  color: #fff;
  background-image: url("../assets/img/d_search.webp");
  background-position: center;
}
.search.error {
  -webkit-animation: 2s linear error;
  -o-animation: 2s linear error;
  animation: 2s linear error;
}
.container {
  background-color: #ffffff;
}
.roof {
  width: 100%;
  height: 100%;
}
#roof_icon {
  width: auto;
  height: auto;
  max-width: 19px;
  max-height: 17px;
}
.nav_logo {
  height: 50px;
  width: 100%;
}
.s_input {
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}
.roof_search {
  width: 30%;
  height: 70px;
  margin: 5px;
  background-color: #ffffff;
  background-image: url("../assets/img/Store.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.nav_icons {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.n_icon {
  width: 10%;
  max-width: 37px;
  max-width: 37px;
  cursor: pointer;
}
.n_icon img {
  border-radius: 50%;
}
.mobile .n_icon img {
  background-color: #53ea93;
}
.n_icon img:hover {
  background-color: #53ea93;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.mobile .n_icon img:focus {
  background-color: #fff;
}

/* NavBar */
.nav_text {
  cursor: pointer;
}
.nav {
  position: relative;
  vertical-align: middle;
  text-align: center;
  padding: 15px 0;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  height: 40px;
}
.nav:hover,
.mobile .nav:focus {
  border-bottom: 3px solid #db3838;
}
.shopping_cart {
  position: absolute;
  text-decoration: none;
  font-size: 9px;
  letter-spacing: 0.35px;
  padding: 14px 5px;
  background-color: #db3838;
  box-sizing: border-box;
  cursor: pointer;
}
#telly_icon {
  max-width: 12px;
  max-height: 11px;
}
.res-roof_search {
  width: 140px;
  height: 100%;
  padding: 10px 15px;
  background-color: transparent;
}
.res-nav_logo {
  height: 50px;
  width: 100%;
}
.res-n_icon {
  cursor: pointer;
}
.res-n_icon img:hover {
  box-shadow: inset 0 0 0 23px #53ea93;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.res-n_icon {
  width: 30px;
  margin-right: 28px;
}
.res-n_icon img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.res-nav {
  font-family: Gotham;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.35px;
}
.res-nav:hover,
.mobile .res-nav:focus {
  border-bottom: 3px solid #db3838;
}

/* Basket */
.cart img {
  width: 100%;
}
.cart a {
  text-decoration: none;
}
.cart {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  z-index: 1500;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.show .cart {
  opacity: 1;
  visibility: visible;
}
.cart_body {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cart_body {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.cart_body .contant {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-3000px) rotateY(90deg);
  -moz-transform: translateZ(-3000px) rotateY(90deg);
  -ms-transform: translateZ(-3000px) rotateY(90deg);
  transform: translateZ(-3000px) rotateY(90deg);
  opacity: 0;
}
.show .cart_body {
  visibility: visible;
}
.show .cart_body .contant {
  -webkit-animation: slit 0.7s forwards ease-out;
  -moz-animation: slit 0.7s forwards ease-out;
  animation: slit 0.7s forwards ease-out;
}
.cart_body .contant .contant_body {
  background-color: #fff;
  padding: 25px;
  overflow: auto;
  border-radius: 10px;
}
.cart_title {
  font-size: 28px;
  color: #4d5f71;
}
.cart_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px 0;
  background-color: #f2f2f2;
  border: 1px solid #4d5f713f;
  border-radius: 3px;
  padding: 20px;
}
.cart_wrapper #cart-empty {
  font-size: 24px;
  color: #4d5f71;
}
.cart_head {
  display: flex;
  justify-content: space-between;
}
.cart_close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='005bff' d='M12 10.587l6.293-6.294a1 1 0 111.414 1.414l-6.293 6.295 6.293 6.294a1 1 0 11-1.414 1.414L12 13.416 5.707 19.71a1 1 0 01-1.414-1.414l6.293-6.294-6.293-6.295a1 1 0 011.414-1.414L12 10.587z'/%3E%3C/svg%3E");
}
.cart_close:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.mobile .cart_close:focus {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.cart_total {
  font-size: 28px;
}
.cart_total span {
  color: #077c24;
}
.cart_confirm {
  display: block;
  margin-left: auto;
}
.cart .goods {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
}
.cart .goods_img {
  max-width: 120px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.cart .goods_img-wrapper {
  flex-basis: 120px;
}
.cart .goods_description {
  padding: 10px;
  flex-grow: 1;
}
.cart .goods_title {
  font-size: 16px;
}
.cart .goods_price_count {
  padding-right: 10px;
}
.cart .goods_trigger {
  display: flex;
  justify-content: center;
}
/* .cart .goods-add-wishlist {
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url(../img/icons.png);
  background-position: 4px -2589px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  border: none;
} */
.cart .goods_add_wishlist.active {
  background-position: 4px -2633px;
}
.cart .goods_delete {
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("../assets/img/delete.webp");
  background-position: center;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  border: none;
}
.cart .goods_count {
  display: flex;
  justify-content: center;
}
.cart .goods_count_total {
  width: 32px;
}
.btn_primary {
  width: 200px;
  border: 2px solid darkcyan;
  padding: 10px 30px;
  background-color: transparent;
  color: darkcyan;
  text-transform: uppercase;
  font-family: arial;
  cursor: pointer;
  transition: 0.3s all;
}
.btn_primary:hover,
.mobile .btn_primary:focus {
  background-color: darkcyan;
  color: white;
}

/* Keyframes */
@keyframes error {
  0% {
    border: 2px solid #ff4747;
  }
  25% {
    border: 2px solid #0059ff;
  }
  50% {
    border: 2px solid #ff9a00;
  }
  75% {
    border: 2px solid #ff63f5;
  }
  100% {
    border: 2px solid #ff4747;
  }
}
@-webkit-keyframes error {
  0% {
    border: 2px solid #ff4747;
  }
  25% {
    border: 2px solid #0059ff;
  }
  50% {
    border: 2px solid #ff9a00;
  }
  75% {
    border: 2px solid #ff63f5;
  }
  100% {
    border: 2px solid #ff4747;
  }
}
@-moz-keyframes error {
  0% {
    border: 2px solid #ff4747;
  }
  25% {
    border: 2px solid #0059ff;
  }
  50% {
    border: 2px solid #ff9a00;
  }
  75% {
    border: 2px solid #ff63f5;
  }
  100% {
    border: 2px solid #ff4747;
  }
}
@-webkit-keyframes slit {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(89deg);
    opacity: 0.5;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}

@-moz-keyframes slit {
  50% {
    -moz-transform: translateZ(-250px) rotateY(89deg);
    opacity: 0.5;
    -moz-animation-timing-function: ease-out;
  }
  100% {
    -moz-transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes slit {
  50% {
    transform: translateZ(-250px) rotateY(89deg);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes animate404 {
  0%,
  100% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(50px);
  }
}

/* Media */
@media screen and (min-width: 768px) {
  .nav {
    font-size: 12px;
  }
  .shopping_cart {
    font-size: 12px;
    padding: 12px 5px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    font-size: 10px;
  }
  .shopping_cart {
    font-size: 10px;
    padding: 12px 5px;
  }
  .roof_search {
    height: 60px;
  }
}

@media (max-width: 2250px) {
  .box,
  .boxL {
    width: 325px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 245px;
  }
}

@media (max-width: 2000px) {
  .box,
  .boxL {
    width: 310px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 230px;
  }
}
@media (max-width: 1750px) {
  .box,
  .boxL {
    width: 295px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 215px;
  }
}

@media (max-width: 1500px) {
  .box,
  .boxL {
    width: 280px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 200px;
  }
}

@media (max-width: 1250px) {
  .box,
  .boxL {
    width: 265px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 185px;
  }
}

@media (max-width: 1000px) {
  .box,
  .boxL {
    width: 250px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 170px;
  }
}

@media (max-width: 750px) {
  .box,
  .boxL {
    width: 235px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 155px;
  }
}

@media (max-width: 500px) {
  .box,
  .boxL {
    width: 220px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 140px;
  }
}

@media (max-width: 300px) {
  .sky h2 {
    font-size: 8em;
  }
  .field {
    padding: 20px;
  }
  .field h2 {
    font-size: 1em;
  }
  .field a {
    font-size: 15px;
    border-radius: 30px;
    height: 40px;
    line-height: 40px;
    width: 130px;
  }
}
@media (max-width: 400px) {
  .sky h2 {
    font-size: 9em;
  }
  .field {
    padding: 30px;
  }
  .field h2 {
    font-size: 1.5em;
  }
  .field a {
    font-size: 15px;
    border-radius: 35px;
    height: 45px;
    line-height: 45px;
    width: 130px;
  }
  .box,
  .boxL {
    width: 205px;
  }
  .boxL input[type="email"],
  .boxL input[type="password"],
  .box input[type="email"],
  .box input[type="password"] {
    width: 125px;
  }
}
@media (max-width: 600px) {
  .sky h2 {
    font-size: 9em;
  }
  .field {
    padding: 30px;
  }
  .field h2 {
    font-size: 1.5em;
  }
  .field a {
    font-size: 15px;
    border-radius: 35px;
    height: 45px;
    line-height: 45px;
    width: 130px;
  }
}
@media all and (max-width: 700px) {
  #appBars {
    display: none;
  }
  .res-nav_logo {
    height: 50px;
    width: 100%;
  }
  #resHeader {
    display: flex;
  }

  .particles-header {
    display: none;
  }
}
@media all and (max-width: 400px) {
  .res-nav_logo {
    height: 40px;
    width: 100%;
  }
  .res-roof_search {
    width: 120px;
    padding: 10px 15px;
  }
  .slider {
    margin-top: 70px;
    height: 80vh;
  }
}
@media all and (max-width: 300px) {
  .res-nav_logo {
    height: 30px;
    width: 100%;
  }
  .res-roof_search {
    width: 100px;
    padding: 10px 15px;
  }
  .slider {
    margin-top: 60px;
    height: 60vh;
  }
}
